@tailwind base;
@tailwind components;
@tailwind utilities;

.list li:nth-child(even){
  background-color: lightgray;
}

.item-paragraph{
  padding: 8px;
  text-align: center;
  flex-basis: 33%;
}

.details-row p{
  
}
.details-row p:first-child{
  font-weight: bold;
}
/* .details-row p:nth-child(2){
  flex-grow: 1;
} */